{%extends "base.html"%}
{%block head%}
<title>about</title>
{%endblock%}


{%block myblock%}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 text-light bg-danger py-5 text-center">
            <h1>About</h1>
            
        </div>
        <div class="container mx-2 px-2 py-2">
            This is an experimental Bank Created as an project for 1st Semster of Engineering
            <p>
            <u>Created BY:</u><br>
            1)Avanish Shenoy<br>
            2)Dhruva S Nayak<br>
            3)Nuthan A R
            </p>
            <p>
                The following Project which we named as<b> "GOLDEN HORIZON BANK" </b> is a virtual Bank that allow 
                users to create an account and login and transfer and get interest on Fixed Deposit upto 12% 
                and many more
                (Not yet Implemented)
            </p>
            <hr>
            <p>
                Learnt Django from YouTube Coding With Aman Dhillon: <a href="https://youtube.com/playlist?list=PLjgQNOZoi8hRxemMRRJlGSLHn9rg9k9-h">PlayList</a>
            </p>
        </div>
    </div>
</div>

{%endblock%}