{%extends "base.html"%}
{%block head%}
<title>home</title>

{%endblock%}
{%block myblock%}
<div class="container-fluid ">
    <div class="row">
        <div class="col-md-12 text-light bg-danger py-5 text-center"
            style="background-image:url ('C:\Users\LENOVO\Documents\Project\static\images\images.jpg');">

            <h1>Golden Horizon Bank</h1>
        </div>

    </div>
</div>
<marquee bgcolor="yellow">
    Register Now and Get Bonus of 1000 points for FREE!!!
</marquee <div class="container-fluid px-0 py-3">

</div>
<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{%endblock%}